body 
{
	font: 16px Helvetica, Sans-Serif;
	background: url(images/bg.jpg) top center no-repeat #545454;
}


 
h1
{
	margin: 0 0 16px 0;
	padding: 0 0 16px 0;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: -2px;
	border-bottom: 1px solid #551144; 
	color: #777777;
}

h2
{
	font-size: 20px;
	margin: 0 0 6px 0;
	position: relative;
}

h3
{
	font-size: 16px;
	margin: 0 0 6px 0;
	position: relative;
	color: #3399FF;
}



#card
{
	font: 16px Helvetica, Sans-Serif;
	line-height: 24px;
	background: url(noise.jpg); 
	width: 500px;
	height: auto;
	margin: 20px;
	background: #F0F0F0;
	clear: left;
	padding:20px 20px 20px 20px;
	float:left;
	display: inline;
}

#card2
{
	font: 16px Helvetica, Sans-Serif;
	line-height: 24px;
	width: 500px;
	height: auto;
	margin: 20px;
	background: #FFFF00;
	clear: left;
	padding:20px 20px 20px 20px;
	float:left;
	display: inline;
}


