body
{
font-family: arial,San-serif;
}

h1
{
	font-size: 42px;
	font-weight: bold;
	letter-spacing: -2px;
	border-bottom: 1px solid #CCCCCC; 
	color: #777777;
	display: block;
}


h2
{
	font-size: 21px;
	display: block;
}

h3
{
	font-size: 12px;
	color: #B2B2B2;
}


h4
{
	font-size: 16px;
	color: #FFFFFF;
}

.button
{
	background: -webkit-linear-gradient(#cccccc, #EBEBEB); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#cccccc, #EBEBEB); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#cccccc, #EBEBEB); /* For Firefox 3.6 to 15 */
	background: linear-gradient( #cccccc, #EBEBEB); /* Standard syntax */
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position:absolute;
	left:500px;
	top:150px;
	border: black solid 1px;
}
.button1
{
	background: -webkit-linear-gradient(#EBEBEB, #cccccc); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#EBEBEB, #cccccc ); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient( #EBEBEB, #cccccc ); /* For Firefox 3.6 to 15 */
	background: linear-gradient( #EBEBEB, #cccccc); /* Standard syntax */
	width: 90px;
	height: 90px;
	border-radius: 50%;
	position:absolute;
	left:505px;
	top:155px;
	border: white solid 1px;
	transition: transform 2s;
}
	
.button1:hover
{ 
-webkit-transform:rotate(180deg); /* Safari */
transform: rotate(180deg);
}

.button1:active
{ 
-webkit-transform:rotate(180deg); /* Safari */
transform: rotate(180deg);
	left:500px;
	top:150px;
	width: 100px;
	height: 100px;
	box-shadow: 0px 0px 10px 5px red;"
}

.picture
{
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border-bottom-left-radius:10px;
	background: url(images/mise.jpg) #00CC00;
	clear: left;	
	float:left;
	position:absolute;
	left:50px;
	top:100px;
}

.picturea
{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border-bottom-right-radius:10px;
	background-color:red;
	clear: left;	
	opacity:0.5;
	float:left;
	position:absolute;
	left:100px;
	top:100px;
}
.pictureb
{

	width: 200px;
	height: 200px;
	border-radius: 50%;
	border-bottom-left-radius:10px;
	background-color: blue;
	opacity:0.5;
	float:left;	
	position:absolute;
	left:200px;
	top:100px;	
}
	.pictured
{

	width: 200px;
	height: 200px;
	border-radius: 50%;
	border-top-left-radius:10px;
	background-color:yellow;
	opacity:0.5;
	float:left;
	clear:left;
	position:absolute;
	left:200px;
	top:200px;}

.picturec
{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border-top-right-radius:10px;
	background-color:green;
	opacity:0.5;
	float:left;	
	position:absolute;
	left:100px;
	top:200px;
	}
.picturee
{
	width: 100px;
	height: 100px;
	border-radius: 10px;
	background-color: white;
	float:left;	
	position:absolute;
	left:200px;
	top:200px;	
}
	
.kielyholder
{	
	background-color: #FFFFD6;
	width: 	470px;
	height: 600px;
	left:25px;
	top:500px;
	position:absolute;
}
.kielyleaf
{
	width: 	130px;
	height: 60px;
	border-bottom-left-radius:200px;
	border-bottom-right-radius:20px;
	border-top-left-radius:20px;
	border-top-right-radius:200px;
	background-color: green;
	padding:10px;
	padding-left:60px;
	padding-top:20px;
	float:left;	
	opacity:0.5;
	position:absolute;
	left:50px;
	top:650px;	
	transition: opacity 0.5s;
	
}
.kielyleaf:hover
{ 
opacity:0.9;
}
.kielyleaf:active
{ 
visibility:hidden;
}

.kielyleafa
{
	width: 	130px;
	height: 60px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:200px;
	border-top-left-radius:200px;
	border-top-right-radius:20px;
	background-color: green;
	padding:10px;
	padding-left:60px;
	padding-top:20px;
	float:left;	
	opacity:0.5;
	position:absolute;
	left:270px;
	top:650px;	
	transition: opacity 0.5s;
}
.kielyleafa:hover
{ 
opacity:0.9;
}

.kielystalk
{
	width: 	20px;
	height: 575px;
	background-color: #391D00;
	position:absolute;
	left:250px;
	top:520px;	
}
	
.leafa
{
	width: 	300px;
	height: 300px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:480px;
	border-top-left-radius:480px;
	border-top-right-radius:20px;
	background-color: green;
	float:left;	
	opacity:0.5;
	position:absolute;
	left:650px;
	top:150px;	
}

	
.leafb
{
	width: 300px;
	height: 300px;
	border-bottom-left-radius:480px;
	border-bottom-right-radius:20px;
	border-top-left-radius:20px;
	border-top-right-radius:480px;
	background-color: green;
	float:left;	
	opacity:0.5;
	position:absolute;
	left:960px;
	top:150px;	
	
}
.leafc
{
	width: 	630px;
	height: 630px;
	border-radius:300px;
	border: red solid 1px;
	position:absolute;
	left:640px;
	top:140px;	
	
	opacity:0.5;
}
.leafd
{
	width: 	280px;
	height: 280px;
	border-bottom-left-radius:470px;
	border-bottom-right-radius:10px;
	border-top-left-radius:10px;
	border-top-right-radius:470px;
	
	position:absolute;
	left:970px;
	top:160px;	
	background-color: white;}
